python-dotenv
langchain
langchain-community
langchain-chroma
langchain-ollama
langchain_groq
langchain_core
langsmith
langserve
ollama
chromadb
dfminer.six
pypdf
nest_asyncio
fastapi
uvicorn
sse_starlette